body {
    background-color: #3C5186;
  }
  h1 {
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
    color: #FFF5DE; 
   position: sticky;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  p {
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
    color: #FFF5DE;
    position: static;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  h2{
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
    color: #FFF5DE;
    position: static;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  ol li {
    
    position: static;
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
    color: #FFF5DE;
    display: block;
list-style-type: decimal;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
padding-left: 40px;
  }
  
  ul li {
    text-align: center;
    position: static;
    font-family: 'Otomanopee One', sans-serif;
    list-style-type: circle;
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    color: #FFF5DE;
    
  }
  .myDiv {
    
    color: #9B72AA;
  }
  
